.OrderList {
  background-color: rgb(8, 6, 27);
  padding: 20px;
  overflow: auto;
  height: 100vh;
  width: 40vw;
  left: 0;
  position: fixed;
}

h1 {
    color: lightgray;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.viewside {
  padding: 60px;
  background-color: #fff;
  width: 60vw;
  padding: 60px;
  background-color: #fff;
  width: 60vw;
  position: absolute;
  right: 0;
}

.userDetails {
  background: lightgreen;
  padding: 20px;
}

.user p {
  font-size: 18px;
  /* line-height: 0.8; */
}

.Order {
  background-color: rgb(14, 2, 32);
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gray;
}

.Order:hover {
  cursor: pointer;
}

.tablewrapper {
  border: 2px solid rgb(180, 231, 235);
  padding: 20px;
  margin: 20px 0;
}

main {
  width: 100vw;
  display: flex;
}
